#nav{
    position: fixed;
    bottom: 0;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
#header{
    
    position: fixed;
    top: 0;
    width: 100% ;
    z-index: 1;

}

#header1{
    margin-bottom: 80px;
}
.chatbox{
    margin-top: 5px;
    min-height: 61vh;
    /* background-color: aqua; */
    overflow:auto ;
    height: 61vh;
    padding: 10px;
    position: relative;
}