#nav{
    position: fixed;
    bottom: 0;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
#header{
    
    position: fixed;
    top: 0;
    width: 100% ;
    z-index: 1;

}

#header1{
    margin-bottom: 80px;
}